// ||Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

// || Breakpoints
$device-mobile: 360px;
$device-mobile-lg: 560px;
$device-tablet: 768px;
$device-tablet-lg: 991px;
$device-desktop-sm: 1024px;
$device-desktop-md: 1280px;
$device-desktop-lg: 1440px;
$device-desktop-xl: 1920px;

/* Fluid font size variables, for browsers that support clamp */
// -- on 360px the base font size is 16 and scale ratio is 1.125 (major second) and
// -- on 1440px the base font size is 16 and scale ration is 1.2 (minor third)

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: clamp(1.42rem, -0.08vw + 1.45rem, 1.33rem);
    --fs-base: clamp(1.6rem, 0vw + 1.6rem, 1.6rem);
    --fs-h6: clamp(1.8rem, 0.11vw + 1.76rem, 1.92rem);
    --fs-h5: clamp(2.02rem, 0.26vw + 1.93rem, 2.3rem);
    --fs-h4: clamp(2.28rem, 0.46vw + 2.11rem, 2.76rem);
    --fs-h3: clamp(2.56rem, 0.71vw + 2.3rem, 3.32rem);
    --fs-h2: clamp(2.88rem, 1.03vw + 2.5rem, 3.98rem);
    --fs-h1: clamp(3.24rem, 1.44vw + 2.7rem, 4.78rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --fs-sm: 1.42rem;
    --fs-base: 1.6rem;
    --fs-h6: 1.8rem;
    --fs-h5: 2.02rem;
    --fs-h4: 2.28rem;
    --fs-h3: 2.56rem;
    --fs-h2: 2.88rem;
    --fs-h1: 3.24rem;
  }
  @media screen and (min-width: 1440px) {
    :root {
      --fs-sm: 1.33rem;
      --fs-base: 1.6rem;
      --fs-h6: 1.92rem;
      --fs-h5: 2.3rem;
      --fs-h4: 2.76rem;
      --fs-h3: 3.32rem;
      --fs-h2: 3.98rem;
      --fs-h1: 4.78rem;
    }
  }
}

:root {
  font-size: 62.5%; /* equal = 10px ; To determine any sizes to rem just divide it by 10. */
  // || TypoGraphy
  --ff-base: "Roboto Mono", monospace, -apple-system, BlinkMacSystemFont;

  // || Colors
  --color-brand: #2a9d8f;
  --color-text: #2f2f2f;
  --color-secondary: #264653;
  --color-background: #f9f9f9;

  // || Border radius
  --rounded-1: 6px;

  // || Animation Easing
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

  // || Line Heights
  --lh-base: 1.1;
  --lh-p: 1.5;
  --lh-p-sm: 1.33;

  // || Paddings and Margins
  --pm-sm: 0.5em;
  --pm-base: 1em;
  --pm-1: 1.5em;
  --pm-2: 2em;
  --pm-3: 2.5em;
  --pm-4: 3em;
  --pm-5: 9em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-tap-highlight-color: transparent; /* to remove the tap highlights on touch screens */
}

html {
  font-family: var(--ff-base);

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow-x: hidden; // --fixes for horizontal scrolling
}

// --custom scrollbar-----------------
body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-brand);
  outline: none;
}
// --custom scrollbar------------------

section {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-base);
  font-weight: bold;
  color: inherit;
  line-height: var(--lh-base);
}

/* --------------------------------------- */

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

p {
  font-size: 1.6rem;
  line-height: var(--lh-p);
}

p.is--sm {
  font-size: var(--fs-sm);
  line-height: var(--lh-p-sm);
}

/* --------------------------------------- */

a,
button,
input,
select,
textarea {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  text-decoration: none;
}
input,
select,
textarea {
  &::placeholder {
    opacity: 0.6;
  }
}

a,
button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

li {
  list-style: none;
}

img,
svg,
picture,
video {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  object-position: center;
}

svg,
svg g {
  fill: currentColor;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  // Must be used as an image parent div to get the pefect responsiveness in images.
  display: flex;
  object-fit: cover;
  overflow: hidden;
}

// || Utility classes
.container {
  // --360px(min),1440px(max)
  width: clamp(36rem, 100vw, 144rem);
  padding-inline: clamp(2rem, 5.56vw + 0rem, 8rem);
  margin-inline: auto;
}
@media screen and (min-width: $device-mobile) and (max-width: $device-desktop-lg) {
  .container {
    // --360px(min),1440px(max)
    width: clamp(36rem, 100vw, 144rem);
    padding-inline: clamp(2rem, 5.56vw + 0rem, 8rem);
    margin-inline: auto;
  }
}

.is--brand {
  color: var(--color-brand);
}

.centerHorizontally {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
}
